<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vasilyev.calendarnotifier">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.UserDetailActivity"
            android:label="@string/detail_view_label"
            />

        <provider
            android:authorities="com.vasilyev.calendarnotifier.providers"
            android:name=".db.DBProvider"
            android:exported="false"/>

    </application>

</manifest>
